# Pandas _ cheat sheet study 01

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [5]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [6]:
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = pd.MultiIndex.from_tuples(
[('d',1),('d',2),('e',2)],
names=['n','v']))

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12